.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -10px;
}

.progress-item {
  display: flex;
  align-items: center;
  /* Align text with the center of the circle */
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.completed-icon {
  color: #3fc0b7;
  /* Color for completed icons */
  margin-right: 20px;
  /* Space between icon and text */
}

.pending-icon {
  color: grey;
  /* Color for pending icons */
  margin-right: 20px;
  /* Space between icon and text */
}

/* Vertical line between circles */
.progress-item::before {
  content: "";
  position: absolute;
  top: 140%;
  left: 19px;
  /* Adjust this value to align with the center of the icons */
  transform: translateY(-50%);
  width: 4px;
  height: calc(90%);
  /* Adjust the height to span between items */
  background-color: #3fc0b7;
  z-index: 0;
}

.progress-item:last-child::before {
  display: none;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Right-align the text */
}

.text {
  font-size: 20px;
  z-index: 1;
  text-align: right;
  /* Right-align the text */
}

.completed-text {
  font-weight: bold;
  color: #2b2e33;
}

.pending-text {
  color: grey;
}

#continue-btn {
  margin-top: 20px;
}

/* Welcome Back Modal */
.custom-modal-header {
  background-color: #add8e6;
  color: black;
  position: relative;
  /*padding-bottom: 40px; /* Increase space for the curve */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  /* Adjust this value to control the curve depth */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  /* Adjust this value to control the curve height */
  background-color: #add8e6;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.custom-modal-body {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 20px;
  /* Increase separation from the header */
}

/* Slide-in Panel */
.container {
  display: flex;
  /* transition: all 0.3s ease;  Removed transition from container */
}

.table-container {
  flex: 1;
  /* transition: flex 0.3s ease; Removed transition from table-container flex */
}

.table-container.shrink {
  flex: 1;
}

.slide-in-panel {
  position: relative;
  width: 0;
  overflow: hidden;
  /* transition: width 0.3s ease; Removed transition from slide-in-panel width */
  display: flex;
  flex-direction: column;
  margin-left: 40px; /* Add left margin here to create space */
}

.slide-in-panel.open {
  width: 30%; /* Panel takes 30% of the space - adjust as needed */
}

.slide-in-panel-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  color: red;
}

.slide-in-panel-content {
  padding: 10px;
  flex: 1;
  width: 100%;
}

@media (max-width: 768px) {
  .slide-in-panel {
    width: 100%;
  }

  .table-container.shrink {
    flex: 1;
  }
}

.selected-row {
  background-color: #e0f7fa; /* A light cyan/blue background */
 
}